@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.bounce-in-top {
  -webkit-animation: bounce-in-top 1.3s ease-in-out 900ms both;
  animation: bounce-in-top 1.3s ease-in-out 900ms both; }

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul, ol {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0; }

.font__1 {
  font-size: 55px; }

.font__2 {
  font-size: 90px; }

.font__3 {
  font-size: 72px; }

.font__4 {
  font-size: 48px; }

.font__5 {
  font-size: 36px; }

.font_s_1 {
  font-size: 25px; }

.default__font_size {
  font-size: 16px; }

.font_w__100 {
  font-weight: 100; }

.font_w__300 {
  font-weight: 300; }

.font_w__400 {
  font-weight: 400; }

.font_w__600 {
  font-weight: 600; }

.font_w__700 {
  font-weight: 700; }

.font_w__900 {
  font-weight: 900; }

.ff__Bebas {
  font-family: 'Bebas Neue', cursive; }

.bg__primary {
  background: #28293d; }

.text__blue {
  color: #2738B2; }

.bg__blue {
  background: #2738B2; }

.text__roast {
  color: #FF0000; }

.text__hype {
  color: #0C9DF7; }

.text__advisor {
  color: #1AE8CE; }

.theme__main {
  background: #202039; }

.light__blue {
  background: #409C98; }

.light__blue_text {
  color: #409C98; }

.bg__purple {
  background: #AF4A99; }

.bg__footer {
  background: #2B2C44; }

.line__86 {
  line-height: 86px; }

.line__defaults {
  line-height: 1.3; }

.line___default {
  line-height: 1; }

.html {
  scroll-behavior: smooth;
  -webkit-transition: 1.2s all scroll-behavior !important;
  transition: 1.2s all scroll-behavior !important; }

.mobo__view {
  width: 80%; }

.pass__shadow_text {
  text-shadow: 0px 0px 6px #409C98; }

.layout_mean {
  width: calc(100% - 150px);
  margin: auto; }
  @media (max-width: 991px) {
    .layout_mean {
      width: calc(100% - 90px); } }
  @media (max-width: 500px) {
    .layout_mean {
      width: calc(100% - 35px); } }

@media (max-width: 991px) {
  .tracks__layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .tracks__layout img {
      width: 350px; } }

.tracks__layout h3 {
  margin-bottom: 20px; }

body {
  background: #202039; }

/* Remove border from toggler */
.navbar-toggler {
  border: 0 !important; }

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0 !important; }

.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #64a6de;
  background-image: linear-gradient(35deg, #64a6de 0%, #5ca084 100%);
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto; }

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%; }

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0); }

.navbar-toggler .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%; }

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0); }

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100); }

.navbar-toggler.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0); }

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #66a4dc;
  background-image: -webkit-gradient(linear, left top, right top, from(#66a4dc), color-stop(30%, #8e85b8), to(#5da184));
  background-image: linear-gradient(90deg, #66a4dc 0%, #8e85b8 30%, #5da184 100%); }

.navbar .nav-item {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out; }
  .navbar .nav-item .nav-link {
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out; }
    .navbar .nav-item .nav-link:hover {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(45deg, #4de2a6 0%, #34a4ff 100%);
      -webkit-transition: 0.6s all ease-in-out;
      transition: 0.6s all ease-in-out; }
    @media (max-width: 991px) {
      .navbar .nav-item .nav-link:hover {
        letter-spacing: 3px;
        -webkit-transition: 0.6s all ease-in-out;
        transition: 0.6s all ease-in-out; } }

header {
  position: relative;
  z-index: 999; }
  header nav {
    width: calc(100% - 150px);
    margin: auto; }
    @media (max-width: 991px) {
      header nav {
        width: calc(100% - 90px); } }
    @media (max-width: 500px) {
      header nav {
        width: calc(100% - 35px); } }
  header::after {
    content: '';
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #61a8e0;
    background-image: -webkit-gradient(linear, left top, right top, from(#61a8e0), color-stop(31%, #8f84b7), color-stop(66%, #92b86b), to(#599f86));
    background-image: linear-gradient(90deg, #61a8e0 0%, #8f84b7 31%, #92b86b 66%, #599f86 100%); }

.navbar-brand > img {
  width: 110px; }

.banner {
  background-image: url(../img/final.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; }
  .banner .container-fluid {
    margin-top: 12%; }

.first {
  display: none; }

.video__layout {
  position: relative; }
  .video__layout #myVideo {
    border-radius: 12px;
    -webkit-box-shadow: rgba(128, 133, 139, 0.2) 0px 0px 24px;
            box-shadow: rgba(128, 133, 139, 0.2) 0px 0px 24px; }

.player__icons {
  position: absolute;
  left: auto;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%); }

.player__icons .pause__icon, .player__icons .play__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #707070;
  background: transparent; }
  .player__icons .pause__icon i, .player__icons .play__icon i {
    color: #707070;
    font-size: 30px;
    vertical-align: middle; }

.pass {
  background-image: url(../img/banner_mask.webp);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat; }

#timer .days h3, #timer .days span, #timer .hours h3, #timer .hours span, #timer .minutes h3, #timer .minutes span {
  color: white;
  font-size: 25px;
  text-shadow: 1px 2px 4px #FF0000, -1px -2px 4px #0033FF; }

#timer .days span, #timer .hours span, #timer .minutes span {
  font-size: 40px;
  color: white;
  font-weight: bold; }

#timer .dots {
  color: white;
  text-shadow: 1px 2px 4px #FF0000, -1px -2px 4px #0033FF;
  margin: 0px 20px;
  font-size: 40px; }

.__img {
  border: 0;
  vertical-align: middle;
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px; }

.chat-section {
  position: relative;
  width: 40%; }

.chat-section {
  padding: 8vw 0vw; }

.chat {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 280px;
  margin-bottom: -740px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.chat {
  margin-top: 0;
  margin-bottom: 0; }

.modo {
  position: relative; }

.chat-bubbles {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 420px;
  max-width: 92vw;
  margin-top: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.cleo-chat-bubble {
  margin-top: 25px;
  padding: 12px 20px;
  border-radius: 0px 30px 30px 30px;
  background-color: #393653;
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  color: white; }

.cleo-chat-bubble.first {
  margin-top: 0;
  border-top-left-radius: 24px;
  margin-bottom: 25px; }

.cleo-chat-bubble.last {
  border-bottom-left-radius: 24px; }

.moody_first_text {
  margin-top: 165px; }

.user-chat-bubble {
  margin-top: 4px;
  padding: 16px 24px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border-radius: 24px 0 0 24px;
  background-color: #4954E6;
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  color: #fff; }

.user-chat-bubble.first {
  margin-top: 25px;
  padding: 12px 20px; }

.user {
  border-radius: 0px 30px 30px 30px; }

.user__big {
  width: 75%; }

.clint {
  border-radius: 30px;
  border-top-right-radius: 0px !important; }

.user-chat-bubble.first.red {
  background-color: #ff3c4d; }

.chat-text {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 0px; }

.chat-mode {
  /* position: -webkit-sticky;
	position: sticky; */
  top: 50%;
  z-index: 30;
  margin-bottom: -13vw;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center; }

.moody {
  position: absolute;
  top: 100%;
  right: -225%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }

.moody_first_text {
  margin-top: 165px; }

.chat-mode-heading {
  margin-top: 0;
  font-family: 'GT Flexa Compressed', sans-serif;
  font-size: 4.5vw;
  line-height: .9;
  font-weight: 700;
  text-transform: uppercase; }

.phone-frame-background {
  position: -webkit-sticky;
  position: sticky;
  bottom: 72px;
  overflow: hidden;
  width: 450px;
  height: 880px;
  margin-right: auto;
  margin-bottom: -930px;
  margin-left: auto;
  border-radius: 50px;
  background-color: #202039; }

.mode-background-video {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100%; }

.mode-background-video.hype {
  /* background-image: url("https://assets.website-files.com/60b118690f8e028ab7d93790/60fff023ee17fc8790f076bb_education_bg_2.gif"); */
  background-position: 0 0;
  background-size: cover; }

.mode-background-video.roast {
  /* background-image: url("https://assets.website-files.com/60b118690f8e028ab7d93790/60fff019cafbf147d4cf3157_education_bg_1.gif"); */
  background-position: 0 0;
  background-size: cover; }

.cleo-chat-bg-text {
  /* margin-top: 0; */
  margin-top: 30px;
  font-family: 'GT Flexa Compressed', sans-serif;
  color: rgba(0, 0, 0, 0.658);
  font-size: 120px;
  line-height: .9;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase; }

.phone-frame {
  position: -webkit-sticky;
  position: sticky;
  bottom: 64px;
  z-index: 20;
  width: 480px;
  height: 900px;
  /* 187  */
  border-radius: 80px;
  -webkit-box-shadow: 0 80px 0 0 #202039, 0 -80px 0 0 #202039;
          box-shadow: 0 80px 0 0 #202039, 0 -80px 0 0 #202039; }

main {
  display: block; }

.chat-section-intro {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 50;
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 113%;
  padding-top: 5vw;
  font-size: 1.3vw;
  left: auto;
  overflow: hidden;
  background-color: #202039;
  -webkit-box-shadow: -110px 40px 22px #202039,110px 27px 22px #202039;
          box-shadow: -110px 40px 22px #202039,110px 27px 22px #202039; }

.intro-summary-text {
  max-width: 40ch;
  margin-top: 0;
  line-height: 1; }

.gif__img {
  margin-top: 20px !important;
  width: 70%;
  margin-left: 0px; }

.clip_back h3 {
  margin-bottom: 30px; }

@media screen and (max-width: 1650px) {
  .moody {
    right: -170%;
    -webkit-transition: 0.6s all;
    transition: 0.6s all; }
  .intro-summary-text {
    font-size: 55px;
    -webkit-transition: 0.6s all;
    transition: 0.6s all; } }

@media screen and (max-width: 1250px) {
  .chat-section-intro {
    width: 92%;
    -webkit-transition: 0.6s all;
    transition: 0.6s all; }
  .moody {
    right: -120%;
    -webkit-transition: 0.6s all;
    transition: 0.6s all; }
  .intro-summary-text {
    font-size: 42px; }
  .phone-frame-background {
    width: 94%; }
  .chat-bubbles {
    width: 94%; } }

@media screen and (max-width: 991px) {
  .chat-section {
    padding: 8vw 2vw;
    width: 90%;
    margin: auto; }
  .chat {
    margin-top: 0;
    margin-bottom: 0; }
  .chat-bubbles {
    width: 100%; }
  .chat-mode {
    position: static;
    margin-top: 8vw;
    margin-bottom: 0;
    -webkit-transform: none;
    transform: none;
    text-align: center;
    margin: 20px auto; }
  .phone-frame-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0; }
  .phone-frame {
    display: none; }
  .chat-section-intro {
    position: static;
    width: 100%;
    padding-top: 0;
    padding-bottom: 8vw;
    padding-left: 0;
    font-size: 18px;
    margin-left: auto; }
  .intro-summary-text {
    max-width: none; }
  .__img {
    margin: 0px; } }

.track {
  position: relative;
  z-index: 50;
  height: 300vh; }

.camera {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  overflow: hidden;
  width: 100vw;
  height: 100vh; }

.frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.track-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 85vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.track-item.first {
  /* width: 100vw */
  width: 50%; }

.article {
  position: relative;
  margin-top: -5vw;
  padding-right: 5vw;
  padding-left: 5vw; }

.features-intro-text {
  margin-top: 0;
  font-family: 'GT Flexa Compressed', sans-serif;
  font-size: 5vw;
  line-height: 1;
  font-weight: 400; }

.feature-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 2.5vw;
  padding: 3vw 5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 24px;
  color: #fff; }

.feature-card:hover {
  opacity: 1; }

.feature-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%; }

.feature-intro-summary {
  position: relative;
  /* margin-left: -12vw; */
  padding-left: 0;
  padding-top: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vw;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

/* MEDIA  */
@media screen and (max-width: 991px) {
  .image-and-text-column {
    padding-left: 0; }
  .track {
    height: auto; }
  .camera {
    position: relative;
    overflow: visible;
    width: auto;
    height: auto; }
  .frame {
    display: block;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .track-item {
    width: auto;
    height: auto;
    padding-top: 0; }
  .track-item.last {
    display: none; }
  .features-intro-text {
    font-size: 50px; }
  .feature-card {
    margin: 4vw; }
  .feature-intro {
    display: block;
    padding-top: 8vw; }
  .feature-intro-summary {
    margin-left: 0;
    padding: 8vw 4vw; }
  .text-wrap {
    display: none; } }

@media screen and (max-width: 767px) {
  .image-and-text {
    margin-bottom: -4vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .image-and-text-column {
    width: 100%;
    margin-bottom: 4vw;
    padding-right: 0;
    padding-left: 0; }
  .features-intro-text {
    font-size: 40px; }
  .feature-card {
    padding-top: 8vw;
    padding-bottom: 8vw; }
  .feature-intro-image {
    width: 100%;
    margin-bottom: 4vw; }
  .feature-intro {
    width: 100%;
    margin-bottom: 4vw;
    padding-right: 0;
    padding-left: 0; }
  .feature-card-image {
    max-width: 100%;
    margin-bottom: 4vw; }
  .feature-card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .call-to-action {
    padding: 40px 20px; } }

@media screen and (max-width: 479px) {
  .image-and-text-column {
    margin-bottom: 8vw; } }

.intro-summary-text {
  font-size: 65px;
  color: white;
  font-weight: 600; }

.tick_layout {
  border-radius: 30px;
  background: #393653; }

.tick_img {
  width: 50px; }

.footer__logo img {
  width: 100px; }

.footer__newsletter form input {
  height: 45px;
  background: transparent;
  border: 1.5px solid white;
  border-radius: 10px; }
  .footer__newsletter form input::-webkit-input-placeholder {
    opacity: 1; }
  .footer__newsletter form input:-ms-input-placeholder {
    opacity: 1; }
  .footer__newsletter form input::-ms-input-placeholder {
    opacity: 1; }
  .footer__newsletter form input::placeholder {
    opacity: 1; }

.footer__newsletter form span {
  top: 12px;
  right: 25px; }

@media (max-width: 1330px) {
  .intro-summary-text {
    font-size: 58px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }
  .chat-section-intro {
    margin-left: 125%; } }

@media (max-width: 1200px) {
  .intro-summary-text {
    font-size: 40px; } }

@media (max-width: 991px) {
  .font__2 {
    font-size: 45px; }
  .line__86 {
    line-height: 50px; }
  .banner .container-fluid {
    margin-top: 20%; }
  .chat-section-intro {
    margin-left: 0px; }
  .intro-summary-text {
    font-size: 30px; }
  .banner .container-fluid {
    margin-top: 7%;
    -webkit-transition: 0.6s all;
    transition: 0.6s all; }
  .track-item.first {
    width: 80%; }
  .features-intro-text {
    font-size: 40px; } }

@media (max-width: 767px) {
  .font__3 {
    font-size: 50px; }
  .pass_banner p {
    font-size: 30px;
    line-height: 1; } }

@media (max-width: 550px) {
  .tracks__layout img {
    width: 210px; }
  .font__4 {
    font-size: 28px; }
  .font__5 {
    font-size: 21px; }
  .font_s_1 {
    font-size: 20px; }
  .banner .container-fluid {
    margin-top: 5%;
    -webkit-transition: 0.6s all;
    transition: 0.6s all; }
  .mobo__view {
    width: 55%;
    font-weight: lighter; }
  .font__2 {
    font-size: 30px; }
  .line__86 {
    line-height: 1.1; }
  .banner {
    background-size: 105%;
    background-position-y: -15px;
    height: 50vh;
    -webkit-transition: 0.6s all;
    transition: 0.6s all; }
  .intro-summary-text {
    font-size: 20px;
    -webkit-transition: 0.6s all;
    transition: 0.6s all; }
  .features-intro-text {
    font-size: 30px; }
  .feature-intro-summary {
    padding: 0vw 4vw; }
  #timer .days span, #timer .hours span, #timer .minutes span {
    font-size: 25px; }
  #timer .days h3, #timer .days span, #timer .hours h3, #timer .hours span, #timer .minutes h3, #timer .minutes span {
    font-size: 17px; }
  #timer .dots {
    margin: -10px 10px;
    font-size: 28px; }
  .pass_banner p {
    font-size: 20px; }
  .pass_text h2 {
    font-size: 35px; }
  .first__img {
    margin: 0 auto !important;
    width: auto !important; }
  .moody_first_text {
    margin-top: 20px; }
  .chat-mode-heading {
    font-size: 40px; } }

@media (max-width: 380px) {
  html, * {
    -webkit-transition: 0.6s all;
    transition: 0.6s all; }
  .font__2 {
    font-size: 20px; }
  .intro-summary-text {
    font-size: 16px; }
  .features-intro-text {
    font-size: 22px; } }
/*# sourceMappingURL=main.css.map */