// ================ BANNER ====================
.banner{
  // @include background_img($name_img: url(../img/banner______.gif)) {
  //     height: 100vh;
  //     width: 100%;
  //     background-position-y: -200px;
  //     .container-fluid {
  //         margin-top: 12%;
  //     }
  // }
  background-image: url(../img/bg__Ban.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 88vh;
}
.mc__phone_fix {
  width: 750px !important;
  margin-left: auto;
}
.banner__fix {
  margin-top: 10%;
}
.mc__phone {
  position: relative;
  height: 100%;
  width: 100%;
  &_mean {
      position: absolute;
      top: 0;
  }
  &__01 {
      position: absolute;
      top: -5%;
      width: 75%;
      right: 15%;
  }
  &__brand {
      position: absolute;
      width: 30%;
      left: 0%;
      bottom: -80%;
  }
  &__average {
      position: absolute;
      width: 50%;
      right: -5%;
      top: -78%;
  }
}
@include media(1693px){
  .mc__phone{
      &__average{
          top: -60%;
      }
      &__brand {
          bottom: -35%;
      }
  }
}
@include media(1500px){
  .banner {
      h1 {
          font-size: 60px;
          line-height: 1;
      }
  }
  .mc__phone{
      &__average{
          top: -84%;
      }
      &__brand {
          bottom: -90%;
      }
  }
}
@include media(1399px){
  .banner {
      h1 {
          font-size: 60px;
          line-height: 1;
      }
  }
  .mc__phone{
      &__average{
          top: -68%;
      }
      &__brand {
          bottom: -55%;
      }
  }
}
@include media(1356px){
  .mc__phone_fix {
      width: 600px !important;
  }
}
@include media(1249px){
  .banner {
      h1 {
          font-size: 50px;
      }
  }
  .mc__phone{
      &__average{
          top: -80%;
      }
      &__brand {
          bottom: -82%;
      }
  }
}
@include media(1166px){
  .banner {
      h1 {
          font-size: 42px;
      }
  }
  .mc__phone{
      &__average{
          top: -95%;
      }
      &__brand {
          bottom: -124%;
      }
  }
}
@include media(1099px){
  .banner {
      h1 {
          font-size: 38px;
      }
  }
  .banner__fix {
      margin-top: 12%;
  }
  .mc__phone{
      &__average{
          top: -106%;
      }
      &__brand {
          bottom: -140%;
      }
  }
}
@include media(1066px){
  .mc__phone_fix {
      width: 590px !important;
  }
}
@include media(1056px){
  .mc__phone_fix {
      width: 585px !important;
  }
  .mc__phone{
      &__average{
          top: -102%;
      }
      // &__brand {
      //     bottom: -140%;
      // }
  }
}
@include media(1051px){
  .banner {
      h1 {
          width: 317px;
      }
  }
}
@include media(991px){
  .banner {
      h1 {
          width: 342px;
      }
  }
  .mc__phone_fix {
      width: 540px !important;
  }
  .mc__phone{
      &__average{
          top: -95%;
      }
      &__brand {
          bottom: -120%;
      }
  }
}
@include media(940px){
  .banner {
      h1 {
          width: 315px;
          font-size: 35px;
      }
  }
  .mc__phone_fix {
      width: 500px !important;
  }
  .mc__phone{
      &__average{
          top: -95%;
      }
      &__brand {
          bottom: -120%;
      }
  }
}
@include media(860px){
  .banner {
      h1 {
          width: 100%;
      }
  }
  .mobo__phone {
      flex-direction: column;
  }
  .mc__phone_fix {
      margin-top: 20% !important;
      margin: auto;
      height: 400px;
  }
  .mc__phone{
      &__average{
          top: -37%;
      }
      &__brand {
          bottom: 22%;
      }
  }
}
@include media(550px){
  .mc__phone_fix {
      margin-top: 30% !important;
      width: 430px !important;
  }
  .mc__phone{
      &__average{
          top: -32%;
      }
      &__brand {
          bottom: 33%;
      }
  }
}
@include media(440px){
  .banner h1 {
      font-size: 30px;
  }
  .mc__phone_fix {
      margin-top: 30% !important;
      width: 320px !important;
      height: 305px;
  }
  .mc__phone{
      &__average{
          top: -32%;
      }
      &__brand {
          bottom: 33%;
      }
  }
}
// ================ BANNER END ================