// FONT GOOGLE 
// LATO 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
// Bebas Neue 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
// animation 
@import 'animation';
// ================ BASE ==================
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    scrollbar-width: thin !important;
    scrollbar-color: red red !important;
}
ul,ol {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    outline: none;
}
p,h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
}
// ================ BASE END ==============

// ================ VARIABLE CUSTOM ==============
$primary:      #28293d;
$theme__main:  #202039;
$light__blue:  #409C98;
$blue:         #2738B2;
$red:          #FF0000;
$hype:         #0C9DF7;
$advisor:      #1AE8CE;
$light__sky:   #1ADCD4;
$purple:       #AF4A99;
$footer:       #2B2C44;



// ================ VARIABLE CUSTOM END ==========

// ================ IMPORT BOOTSTRAP SCSS ==============
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
// ================ IMPORT BOOTSTRAP SCSS END ==========
// ================ VARIABLE MAIN ==============
// FONT SIZES
$font__1 : 55px;
$font__2 : 90px;
$font__3 : 72px;
$font__4 : 48px;
$font__5 : 36px;

$font_s_1 : 25px;
$font_timer_h : 40px;
$default__font_size : 16px;

// FONT WIGHTS
$font_w__100 : 100;
$font_w__300 : 300;
$font_w__400 : 400;
$font_w__700 : 700;
$font_w__600 : 600;
$font_w__900 : 900;

// FAMILY 
$ff__Bebas   : 'Bebas Neue', cursive;

// === classes create ===
// FONT
.font__1            { font-size: $font__1; }
.font__2            { font-size: $font__2; }
.font__3            { font-size: $font__3; }
.font__4            { font-size: $font__4; }
.font__5            { font-size: $font__5; }
.font_s_1           { font-size: $font_s_1; }

.default__font_size { font-size: $default__font_size; }

// WIGHTS
.font_w__100 { font-weight: $font_w__100; }
.font_w__300 { font-weight: $font_w__300; }
.font_w__400 { font-weight: $font_w__400; }
.font_w__600 { font-weight: $font_w__600; }
.font_w__700 { font-weight: $font_w__700; }
.font_w__900 { font-weight: $font_w__900; }

// family 
.ff__Bebas   { font-family: $ff__Bebas;   }
.phone__content__01,
.phone__content__02,
.phone__content__03,
.phone__content__04 { 
    h3 {
        font-family: $ff__Bebas;
    }
}

// COLORS CLASSES
.bg__primary        { background: $primary; }
.text__blue         { color: $blue; }
.bg__blue           { background: $blue; }
.text__roast        { color: $red; }
.text__hype         { color: $hype; }
.text__advisor      { color: $advisor; }
.light__sky         { color: $light__sky; }
.theme__main        { background: $theme__main;}
.light__blue        { background: $light__blue;}
.light__blue_text   { color: $light__blue;}
.bg__purple         { background: $purple;}
.bg__footer         { background: $footer;}

// line hight 

.line__86           { line-height: 86px;}
.line__defaults     { line-height: 1.3;}
.line___default     { line-height: 1;}

// effect 
.html{
    scroll-behavior: smooth;
    transition: 1.2s all scroll-behavior !important;
}
// CLASSES
.mobo__view          { width: 100%; }
.battle__shadow      {text-shadow: 0px 0px 8px #2ef0d6;color: #1AE8CE;}
.pass__shadow_text   {text-shadow: 0px 0px 15px #41bbab;}
.light__shadow       {text-shadow: 0px 0px 10px $light__sky;}
.hype__shadow        {text-shadow: 0px 0px 15px $hype;}
.red__shadow         {text-shadow: 0px 0px 15px $red;}

// SCROLL 
* {
    ::-webkit-scrollbar {
        background: $theme__main;
        width: 7px !important;
    }
      /* Style the scrollbar handle */
    ::-webkit-scrollbar-thumb {
    background: $primary;
    }
    ::-webkit-scrollbar-track-piece {
        width: 10px;
    }
    ::-webkit-scrollbar-corner {
        background: $theme__main;
    }
    ::-webkit-scrollbar:horizontal {
        display: none;
    }
      scrollbar-width: thin !important;
      -webkit-scrollbar-width: thin !important;
      scrollbar-color: $primary $theme__main !important;
      -webkit-scrollbar-color: $primary $theme__main !important;
}
// MIXINS 
@mixin media($value) {
    @media (max-width: $value) {
        @content;
    }
}
@mixin layout_mean {
    width: calc(100% - 150px);
    margin: auto;
    @include media(991px){
     width: calc(100% - 90px);
    }
    @include media(500px){
    width: calc(100% - 35px);
    }
}

@mixin background_img
    (
    $name_img:null,
    $back_size:100%,
    $position-y:null,
    $position-x:null,
    $position:null,
    ) 
{
    background-image: $name_img;
    background-size: $back_size;
    background-position-y: $position-y;
    background-position-x: $position-x;
    background-position: $position;
    background-repeat: no-repeat;
    @content;
}
@mixin reverse__media {
    display: flex;
    flex-direction: column-reverse;
}
// classes mixin
.layout_mean { @include layout_mean();}
.tracks__layout {
    @include media(991px){
        @include reverse__media();
        img {
            width: 350px;
        }
    }
    h3 {
        margin-bottom: 20px;
    }
}
// === classes create end ===
// FOCUS REMOVE 
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none !important;
  outline: none !important;
}
// THEME 
body  { background: $theme__main;}