// UTILITIES
@import 'utilities';
// ================ VARIABLE MAIN END ==========
// ================ HEADER ==============
@import 'nav';

header {
    position: relative;
    z-index: 999;
    nav {
        @include layout_mean();
    }
    &::after{
        content: '';
        height: 6px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        // background-color: #61a8e0;
        // background-image: linear-gradient(90deg, #61a8e0 0%, #92b86b 47%, #599f86 99%);
        background-color: #61a8e0;
        background-image: linear-gradient(90deg, #61a8e0 0%, #8f84b7 31%, #92b86b 66%, #599f86 100%);
    }
}
.navbar-brand {
    >img {
        width: 70px;
    }
}
// ================ HEADER END ==========
  
// ================ BANNER ====================
@import 'banner';
// ================ BANNER END ================

.first {display: none;}

.video__layout {
	position: relative;
    #myVideo {
        border-radius: 12px;
        box-shadow: rgba(128, 133, 139, 0.2) 0px 0px 24px;
    }
}
.player__icons {
	position: absolute;
	left: auto;
	right: 50%;
	top: 50%;
	transform: translate(50%,-50%);
}
.player__icons {
    .pause__icon,.play__icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #707070;
        background: transparent;
        i {
            color: #707070;
            font-size: 30px;
            vertical-align: middle;
        }
    }
}

// PASS 
.pass {
    @include background_img($name_img:url(../img/banner_mask.webp),$back_size:100% 100%,$position:center center);
}

// TIMER 
#timer {
    .days,.hours,.minutes {
        h3,span{
            color: white;
            font-size: $font_s_1;
            text-shadow: 1px 2px 4px #FF0000,
                         -1px -2px 4px #0033FF;

        }
        span {
            font-size: $font_timer_h;
            color: white;
            font-weight: bold;

        }
    }
    .dots {
        color: white;
        text-shadow: 1px 2px 4px #FF0000,
                         -1px -2px 4px #0033FF;
        margin: 0px 20px;
        font-size: $font_timer_h;                
    }
}
// TRACK SLIDE IMPORT 
@import 'track_slides';
// PHONE STYLE 
.intro-summary-text{
font-size: 65px;
color: white;
font-weight: 600;
}
// THREE SLIDER 
@import 'three__slide';
// TCK TICK 
.tick_layout {
    border-radius: 30px;
    background: #393653;
}
.tick_img {
    width: 50px;
}
// FOOTER 
.footer__logo {
    img {
        width: 100px;
    }
}

.footer__newsletter {
    form {
        input {
            height: 45px;
            background: transparent;
            border: 1.5px solid white;
            border-radius: 10px;
            &::placeholder {
                opacity: 1;
                color: white;
            }
        }
        span {
            top   : 12px;
            right : 25px;
        }
    }
}

.phone__ {
    height: 100vh;
    .phone___mean {
        transform: rotate(40deg);
    }
    &:active {
        .phone___mean {
            transform: rotate(0deg);
        }
    }
}
.phone__layout {
    width: 28%;
}
.phone__content,
.phone__layout  {
    margin-top: 12%;
}
.phone__img {
    width: 500px;
    position: relative;
}
.phone__card__01 {
    width: 400px;
    position: absolute;
    top: -61px;
    right: 2%;
}
.phone__card__02 {
    @extend .phone__card__01;
    width: 310px;
    right: 2%;
    top: -27%;
}
.phone__card__03 {
    @extend .phone__card__02;
    width: 220px;
    top: -43%;
    right: 1%;
}
.slick-active,
.slick-slide {
    &:focus-visible {
        outline: none !important;
        border: none !important;
    
    }
}
.player__icons {
    .second,
    .first {
        transition: 0.6s ease-in-out;
        &:hover {
            box-shadow: 0px 0px 10px rgb(71, 68, 255);
            transition: 0.6s ease-in-out;
            
        }
    }
       
}
// ============= HOME PAGE END =============== 

// MEDIA QUEERS
@import 'media_base';